[Desktop Entry]
Version=1.0
Type=Application
Name=Calendarrr
Comment=A minimal calendar application built using GTK for XFCE
Exec=calendarrr
Icon=calendarrr-outlined
Terminal=false
Categories=Utility;Application;
StartupNotify=true

